.course-box{
   box-shadow: 10px 10px 40px gray;
    padding: 20px;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.course-box h4{
    font-size: 22px;
    color: lightgray;
    margin: 4px 0;
}
.course-box h3{
    font-size: 25px;
    color: #b1a7a7;
    margin: 4px 0;
}