.header img{
    height: 100px;
    margin: 0px 40px;
}
.header{
    text-align: center;
}
nav {
    background: #000;
    line-height:40px;
}
nav a{
    text-decoration:none;
    padding: 20px;
    color: #BBBBBC;
}
nav a:hover{
    text-decoration: none;
    background: #83ddcc;
}